* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #d9d9d9;
  color: #333;
}

header {
  color: #fff;
  background: #0e314a;
  border: 1px solid black;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header div {
  margin-bottom: 120px;
}

header nav {
  margin-bottom: 120px;
  width: 10%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}

header nav li {
  list-style-type: none;
  font-weight: bold;
  margin-right: 2%;
}
header nav li:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  font-weight: bold;
  color: #fff;
}

.social {
  font-weight: bold;
  color: black;
}

.social:hover {
  text-decoration: underline;
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

#nome-perfil {
  color: #0e314a;
}

#sec-perfil {
  background-color: #f2f2f2;
  width: auto;
  display: flex;
  position: absolute;
  top: 120px;
  height: auto;
  border: solid 1px #0e314a;
  border-radius: 2px;
}

#sec-perfil hr {
  border-color: #0e314a;
  opacity: 0.8;
}

header section div {
  color: black;
  margin: 2% 8%;
  width: 100%;
}

#dados-principais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-index {
  display: flex;
  margin-top: 250px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#main-index h1 {
  color: #0e314a;
  margin-top: 2%;
}

.container-skills-edu {
  padding: 2%;
  margin-top: 2%;
  border: 1px solid #0e314a;
  height: auto;
  width: 890px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f2f2f2;
  margin-bottom: 2%;
}

.description {
  width: 50%;
}

.skills {
  align-self: start;
}

footer {
  color: #fff;
  background: #0e314a;
  border: 1px solid black;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

/*Page portifolio*/

#main-portifolio {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#main-portifolio h2 {
  color: #0e314a;
}

.container-portifolio {
  padding: 2%;
  margin-top: 2%;
  border: 1px solid #0e314a;
  height: auto;
  width: 890px;
  background: #f2f2f2;
  margin-bottom: 2%;
}

.container-portifolio p {
  margin-top: 8px;
}

@media only screen and (max-width: 960px) {
  .container-portifolio {
    width: auto;
  }
}

@media only screen and (max-width: 700px) {
  header nav li {
    margin-right: 8%;
  }

  #sec-perfil {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: solid 1px #0e314a;
    border-radius: 2px;
  }
  #sec-perfil img {
    width: 100%;
    height: 200px;
  }

  #sec-perfil hr {
    width: 100%;
  }

  #main-index {
    margin-top: 70%;
  }

  .container-skills-edu {
    width: 620px;
  }
  .container-portifolio {
    width: auto;
  }
}

@media only screen and (max-width: 590px) {
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  header nav ul li {
    margin-top: 4%;
  }

  #main-index {
    margin-top: 80%;
  }

  .container-skills-edu {
    width: 450px;
  }
}
